version: "3.9"

services:
  api:
    build: .
    container_name: cointrack-api
    ports:
      - "3000:3000"
    env_file:
      - .env.docker
    depends_on:
      - mongo
      - redis
    volumes:
      - .:/app
      - /app/node_modules
    restart: unless-stopped

  mongo:
    image: mongo:7
    container_name: cointrack-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: cointrack-redis
    ports:
      - "6379:6379"
    restart: unless-stopped

volumes:
  mongo_data:
